.header__logo {
    max-width: 142px;
    margin-bottom: 37px;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        margin: 0 25px 37px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        max-width: 103.74px;
        margin: 28px 27px 30px;
    }
}