.popup {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: collapse;
  background-color: rgb(0 0 0 / 50%);
  transition: all 1s;
  opacity: 0;
}
